/* HTML에 존재하는 모든 div 선택 */
div {
  background-color: rgba(72, 126, 176,0.2);
}

h3 {
  font-size: 50px;
  color: green
}

span {
  color: green;
}

/* html에서  id값이 box인 요서 한개 선택 */
#box {
 background-color:#ffbd3d ;
}

/* html에서 class값이 list인 모든 요소 선택 */
.list {
 list-style-type: none;
}

#box ul{
  padding: 0%;
}